@model WebPizzaApp.Data.Rendeles

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rendeles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CimId" class="control-label"></label>
                <select asp-for="CimId" class="form-control" asp-items="ViewBag.CimId">
                    <option value="">--Válassz megrendelőt--</option>
                </select>
                <span asp-validation-for="CimId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label Value="Pizza" class="control-label"></label>
                <select name="selectedPizza" class="form-control" asp-items="ViewBag.PizzaId">
                    <option value="">--Válassz pizzát--</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Rendelés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Vissza</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
