@model WebPizzaApp.Data.Rendeles

@{
    ViewData["Title"] = "Lezárás";
}

<h1>Lezárás</h1>

<h4>Rendelés</h4>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert-danger">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Lezar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RendelesId" />

            <div class="form-group">
                <label asp-for="AllapotId" class="control-label"></label>
                <select asp-for="AllapotId" class="form-control" asp-items="ViewBag.AllapotId" disabled></select>
                <span asp-validation-for="AllapotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FutarId" class="control-label"></label>
                <select asp-for="FutarId" class="form-control" asp-items="ViewBag.FutarId" disabled></select>
                <span asp-validation-for="FutarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CimId" class="control-label"></label>
                <select asp-for="CimId" class="form-control" asp-items="ViewBag.CimId" disabled></select>
                <span asp-validation-for="CimId" class="text-danger"></span>
            </div>
        </form>
        <form asp-action="Lezar">
            <input type="hidden" asp-for="RendelesId" />
            <select asp-for="AllapotId" class="h" asp-items="ViewBag.AllapotId" hidden></select>
            <select asp-for="FutarId" class="hide" asp-items="ViewBag.FutarId" hidden></select>
            <select asp-for="CimId" class="hide" asp-items="ViewBag.CimId" hidden></select>
            <div class="form-group">
                <input type="submit" value="Lezár" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
